{   "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "semi": 2,
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-single"],
        "no-unused-vars": 2,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    }
}