* {
    color: #353232;
}

.charts-container {
    max-width: 1600px;
    margin: 50px auto;
}

.chart {
    border: 1px solid #e8e8e8;
    box-shadow: -2px 2px 3px 0px rgba(188, 188, 188, .25);
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    
    .chart-title {
        margin: 10px 0;
        font-size: 18px;
        text-transform: capitalize;
    }

    .chart-line {
        fill: none;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-width: 1.5;
    }
    
    .bar {
        fill: #94BADE !important;
        transition: opacity .2s, transform .2s;

        &:hover {
            opacity: 0.75;
            transform: translateY(-6px);
        }
    }

    .input-group {
        margin: 0 auto;        
    }
}

// Chart Legend
.legend {
    display: flex;
    height: 34px;
    align-items: center;

    .legend-block {
        margin: 0 10px;
    }

    .legend-square {
        display: inline-block;
        width: 12px;
        height: 12px;
        top: 1px;
        position: relative;
        border-radius: 3px;
        margin-right: 2px;
    }
}

// Navbar
.navbar {

    .dropdown.has-thumbnail {
        .dropdown-toggle {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    .image-thumbnail {
        max-width: 34px;
        margin-right: 6px;
        border-radius: 4px;
    }   
    
}